---
apiVersion: v1
kind: Service
metadata:
  name: killbill-db
  namespace: saasodoo
  labels:
    app.kubernetes.io/name: killbill-db
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: killbill
spec:
  type: ClusterIP
  ports:
    - port: 3306
      targetPort: 3306
      protocol: TCP
      name: mysql
  selector:
    app.kubernetes.io/name: killbill-db
