{% extends "base/base.txt.j2" %}

{% block content %}
Hello {{ first_name }},

We received a request to reset your password for your {{ platform_name }} account.

Reset your password here: {{ reset_url }}

This link will expire in {{ expiry_hours }} hours.

If you didn't request a password reset, you can safely ignore this email. Your password will remain unchanged.

Best regards,
The {{ platform_name }} Team
{% endblock %}
