{% extends "base/base.txt.j2" %}

{% block content %}
Hello {{ first_name }},

Welcome to {{ platform_name }}! We're excited to have you on board.

Your account has been successfully created. You can now:
- Create and manage Odoo instances
- Scale your business operations
- Access enterprise-grade features
- Get dedicated support

Get started: {{ dashboard_url | default(support_url) }}

If you have any questions, our support team is here to help.

Best regards,
The {{ platform_name }} Team
{% endblock %}
